@import '_variable';
h1{
    color: $color-red;
    font-size: 15px;
    font-weight: 500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: aquamarine;
}

