<div class="mt-5">
  <form method="get" action="/news">
    <div class="form-group">
      <input type="text" name="q" class="form-control" id="search-input" placeholder="Input text ...">
      <button class="btn-primary btn mt-2" type="submit">Search</button>
    </div>
  </form>
</div>